<div class=" h-screen relative isolate px-6 lg:px-8 overflow-hidden">
  <header class="absolute inset-x-0 top-0 z-50">

  <app-navbar></app-navbar>
  </header>
  <div class="mx-auto max-w-2xl py-20 sm:py-32 lg:py-36">
    <!-- Title Section -->
    <div class="text-center mb-12">
      <h1 class="text-4xl font-semibold text-white">About Off-Meta</h1>
    </div>

    <!-- Information Container -->
    <div class="bg-white p-8 rounded-lg shadow-md mb-12">
      <h2 class="text-2xl mb-4 text-center">Off-Meta</h2>
      <p>
        Off-Meta started as a fun project during my coding bootcamp but quickly turned into something more. 
        If you play League of Legends, you know that some characters are super popular and always get picked or banned. 
        Off-Meta is here to give you more options. We suggest strong characters that aren't popular, so you have a better shot at getting your champion every game.
        I built this because I love the game and know the struggle of not getting the champion you want. My goal is to help you find a strong alternative,
        backed by meaningful data, that can help you win more of your matches.
        As for how it works, all the champion data is gathered and crunched by our backend. 
        We run different algorithms to figure out which champions are strong but less popular, so you can be Off-Meta.
      </p>
    </div>

    <!-- About Me Section -->
    <div class="bg-white p-8 rounded-lg shadow-md mb-12">
      <h2 class="text-2xl mb-4 text-center">About Me</h2>
      <p>
        Hey there! I'm Tim Park, a coding enthusiast from Pennsylvania. 
        I recently graduated from a coding bootcamp and have been coding for around 6 months. 
        I'm a full-stack developer who's dabbled in a fair share of languages and frameworks like 
        Java, JavaScript, TypeScript, HTML, and CSS. On the framework side, I've got experience with TailwindCSS, Angular, and Spring Boot.

        I'm very interested in my growth as a software developer and if you have any questions about me or this website please contact me!
      </p>
      <div class="mt-4 text-center">
        <button class="bg-indigo-500 text-white p-2 rounded-md">
          Contact
        </button>
      </div>
    </div>
  </div>
</div>