@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.custom-bg::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('assets/mounttargon.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    z-index: -1;

  }
  